#root {
  width: 100%;
  margin: 0;
  text-align: center;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  padding: 40px 20px 60px;
  background-image: linear-gradient(#e5eecf 0, #f5b06e 15%, #ffffff 30%);
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  opacity: 0;
  animation: loading 2s ease-in-out;
}

.pictures {
  width: 100%;
  height: 45vh;
  margin: 20px 0;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.buttons {
  height: 48px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.yes {
  border: none;
  background-image: radial-gradient(100% 100% at 100% 0, #fcff5a 0, #ff5470 100%);
}

.no {
  border: none;
  background-image: radial-gradient(100% 100% at 100% 0, #ceff5a 0, #ffa754 100%);
}

.no.disabled {
  background: #e5eecf;
  cursor: default;
}

@keyframes loading {
  0% {
    width: 50%;
    opacity: 1;
  }
  33% {
    width: 60%;
  }
  66% {
    width: 50%;
  }
  100% {
    width: 60%;
    opacity: 0;
  }
}